@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
body{
    font-family: 'Roboto';
    font-size: 15px ;
    margin: 0;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    color: #8CBD00;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.titreSuggestions {
    background-color: #FFF5DC;
    width: 100vw;
    height: 10vh;
}

.titre {
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: bold;
    color: #212121;
    display: flex;
    justify-content: center;
}

.suggestionTitre {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titreResults {
    margin: 2vh 0 2vh 0;
}

.resultatsRecherche {
    height: 70vh;
    overflow-y: scroll;
}

.image {
    width: 25vw;
    height: 10vh;
    background-image: url("../image/plats/asiatique1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}

.plat {
    height: 10.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note {
    width: 8vw;
    height: 3.5vh;
    border-radius: 50%;
    background-color: #BABABA;
}

.delais {
    color: #BABABA;
}

.note h8 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionPage {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.rondVide {
    width: 12px;
    height: 12px;
    background-color: white;
    border: solid 1px #8CBD00;
    border-radius: 50%;
}

.rondPlein {
    width: 13px;
    height: 13px;
    background-color: #8CBD00;
    border-radius: 50%;
}